*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body {
    background: #080808;
    color: #080808;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url(images/robot1.JPG);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 2%;
}

nav{
    display: flex;
    align-items: top;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 400px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 25px;

}

nav ul li a{
    color: #080808;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;

    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 4px;
    background: #8c52ff;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 13.2%;
    font-size: 30px;
}

.header-text h1{
    font-size: 60px;
    margin-top: 5px;
}


.header-text h1 span{
    color:#8c52ff;
}

/*---------about----------*/
#about{
    padding: 80px 0;
    color: #ababab;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 150%;
    border-radius: 10px;
}

.about-col-2{
    flex-basis: 40%;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.tab-titles{
    display: flex;
    margin: 20px 0px 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 25px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 4px;
    background: #8c52ff;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.3s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    font-size: 18px;
    color: #8c52ff;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

/*------------portfolio---------*/
#portfolio{
    padding: 50px 0;
}


.work-list{
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-template-rows: repeat(2, minmax(200px, 1fr));
    margin-top: 50px;
}

.work{
   border-radius: 10px;
   position: relative;
   overflow: hidden;
}

.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.3s;
}

.layer{
    color: #fff;
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #8c52ff);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.3s;
}

.layer h3{
    color: #fff;
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    color: #8c52ff;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #8c52ff;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #ababab;
    transition: background 0.5s;
}

.btn:hover{
    background: #8c52ff;
}

/*------------Contact---------*/
.contact-left{
    flex-basis: 100%;
}

.contact-left p{
    margin-top: 30px;
    color: #ababab;
}

.contact-left p i{
    color: #8c52ff;
    margin-right: 15px;
    font-size: 15px;
}

.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 20px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.3s;
}

.social-icons a:hover{
    color: #8c52ff;
    transform: translateY(-5px);
}

.btn.btn2{
    display: inline-block;
    background: #8c52ff;
}

form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

